<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/src/main/java/chiloven/lukosbot2/Main.java" />
        <option name="qualifiedMainClassName" value="chiloven.lukosbot2.Main" />
        <option name="runConfigurationName" value="lukosBot [Run]" />
      </NativeProjectSettings>
    </option>
  </component>
</project>